# directories
.git
.tox
.venv
.vscode
**/lost+found
htmlcov
k8s
public
uwsgiconf/local
# files
.coverage
.dockerignore
.editorconfig
.env
.env.tpl
.gitignore
.gitlab-ci.yml
.pre-commit-config.yaml
*.md
**/LICENSE*
**/README*
Dockerfile
Makefile
pyproject.toml
requirements/*.ini
requirements/common.txt
setup.cfg
tasks.py
