CACHE_URL=locmem://
COMPOSE_FILE=docker-compose.yaml
DATABASE_URL=postgres://postgres:postgres@postgres:5432/{{cookiecutter.project_slug}}
DJANGO_ADMINS=admin,errors@{{cookiecutter.domain_url}}
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CONFIGURATION=Local
DJANGO_DEBUG=True
DJANGO_DEFAULT_FROM_EMAIL=info@{{cookiecutter.domain_url}}
DJANGO_SECRET_KEY=__SECRETKEY__
DJANGO_SERVER_EMAIL=server@{{cookiecutter.domain_url}}
DJANGO_SESSION_COOKIE_DOMAIN={{cookiecutter.domain_url}}
DJANGO_SUPERUSER_EMAIL=info@{{cookiecutter.domain_url}}
DJANGO_SUPERUSER_PASSWORD=${USER}
DJANGO_SUPERUSER_USERNAME={{cookiecutter.project_slug}}
EMAIL_URL=console:///
